<div class="comments-wrapper">
<h2 id="comments">评论</h2>
<div class="avatar pull-left">
  <%= image_tag((current_user ? current_user.avatar : asset_path("avatar_default.jpg")), class: "avatar-inner") %>
</div>
<div class="tri ml100 hov">
  <%= form_for [commentable, @comment] do |f| %>
    <%= f.text_area :content, style: "width: 488px;", rows: 3, placeholder: "输入评论，按 Ctrl + Enter 提交" %>
    <%= f.submit "评论", class: "btn comment-submit" %>
  <% end -%>
</div>
<% commentable.comments.each do |comment| %>
<div class="comment-block" id="<%= comment.id %>">
<div class="avatar pull-left">
  <% if comment.commenter %>
  <%= link_to user_path(comment.commenter) do %>
    <%= image_tag(comment.commenter.avatar, class: "avatar-inner") %>
  <% end %>
  <% else %>
    <%= image_tag(asset_path("avatar_default.jpg"), class: "avatar-inner") %>
  <% end %>
</div>
<div class="controls ml100 tri">
  <div class="toolbox">
    <a href="###" class="reply">
      <i class="icon-reply"></i>
    </a>
    <% if current_user && current_user.is_admin? %>
    <%= link_to [commentable, comment], method: :delete, data: { confirm: "确认删除吗？" } do %>
      <i class="icon-trash"></i>
    <% end -%>
    <% end -%>
  </div>
  <% if comment.commenter %>
  <%= link_to comment.commenter.nickname, comment.commenter, class: "black bold" %>
  <% else %>
  <span class="bold black">
    匿名用户  <span class="gray"><%= comment.ip.sub(/.\d+.\d+$/,'.*.*') if comment.ip %></span>
  </span>
  <% end -%>  
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <span style="color: #BBB"><%= beautify_time comment.created_at %></span>
  <div class="mt10" style="color: #666;">
    <%= comment.content %>
  </div>
</div>
</div>
  <% comment.subcomments.each do |subcomment| %>
  <div class="comment-block" id="<%= subcomment.id %>">
    <div class="ml100">
      <div class="avatar pull-left">
        <% if subcomment.commenter %>
        <%= link_to user_path(subcomment.commenter) do %>
        <%= image_tag(subcomment.commenter.avatar, class: "avatar-inner") %>
        <% end %>
        <% else %>
        <%= image_tag asset_path("avatar_default.jpg"), class: "avatar-inner" %>
        <% end -%>
      </div>
      <div class="controls ml100 tri">
        <div class="toolbox">
          <a href="###" class="reply">
            <i class="icon-reply"></i>
          </a>
          <% if current_user && current_user.is_admin? %>
          <%= link_to eval("#{commentable.class.to_s.downcase}_subcomment_path(commentable, comment, subcomment)"), method: :delete, data: { confirm: "确认删除吗？" } do %>
            <i class="icon-trash"></i>
          <% end -%>
          <% end -%>
        </div>
        <% if subcomment.commenter %>
        <%= link_to subcomment.commenter.nickname, subcomment.commenter, class: "black bold" %>
        <% else %>
        <span class="bold black">
          匿名用户  <span class="gray"><%= subcomment.ip.sub(/.\d+.\d+$/,'.*.*') if subcomment.ip %></span>
        </span>
        <% end -%>  
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span style="color: #BBB"><%= beautify_time subcomment.created_at %></span>
        <div class="mt10" style="color: #666;">
          <%= subcomment.content %>
        </div>
      </div>
    </div>
  </div>
  <% end -%>
  <div class="comment-block subcom" style="display: none;">
    <div class="ml100">
      <div class="avatar pull-left">
        <%= image_tag((current_user ? current_user.avatar : asset_path("avatar_default.jpg")), class: "avatar-inner") %>
      </div>
      <div class="hov ml100 tri">
        <%= form_for @subcomment, url: eval("#{commentable.class.to_s.downcase}_subcomments_path(commentable, comment)") do |f| %>
        <%= f.text_area :content, style: "width: 388px;", rows: 3, placeholder: "输入评论，按 Ctrl + Enter 提交" %>
        <%= f.submit "评论", class: "btn comment-submit" %>
        <% end -%>
      </div>
    </div>
  </div>
<% end -%>
</div>

<% content_for :script do %>
  <script>
    $('textarea').keydown(function (e) {
      if ( (e.metaKey || e.ctrlKey) && e.keyCode == 13) {
        $(this).closest("form").submit();
      }
    }).focusin(function(){
      $(this).siblings(".comment-submit").fadeIn();
    }).focusout(function(){
      if (!$(this).val()) {
        $(this).siblings(".comment-submit").fadeOut();
      };
    });
    $('.reply').click(function(){
      $(this).closest(".comment-block").nextAll(".subcom").first().slideDown().find("textarea").focus();
      return false;
    });
    $('.subcom textarea').focusout(function(){
      if (!$(this).val()) {
        $(this).closest(".comment-block").slideUp();
      };
    });
  </script>
<% end -%>