<%= form_for @article, html: { class: "form-horizontal" } do |f| %>
  <% if @article.errors.any? %>
    <div class="alert alert-error">
      <div>发生了 <%= @article.errors.count %> 个错误。</div>
      <% @article.errors.full_messages.each do |msg| %>
        <div><%= msg %></div>
      <% end %>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.text_field :title, style: "width: 594px;", placeholder: "标题" %>
  </div>
  <div class="field">
    <%= f.kindeditor :content, window_onload: true, height: 500, items: ["fontname","fontsize","|","forecolor","hilitecolor","bold","italic","underline","removeformat","|","justifyleft","justifycenter","justifyright","insertorderedlist","insertunorderedlist","|","emoticons","image", "link", "flash", "|", "clearhtml", "quickformat"], cssPath: [asset_path("application.css")], cssData: "body {background: white; height: auto;} img{max-width: 100%}", allowFileManager: false, resizeType: 1, themeType: "simple" %>
  </div>
  <div class="control-group mt20">
    <%= f.label :category_id, class: "control-label" %>
    <div class="controls">
      <%= f.select :category_id, Category.all.map{|c|[c.name,c.id.to_s]}, prompt: "选择分类" %>
    </div>
  </div>
  <div class="control-group mt20">
    <%= f.label :source, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :source, placeholder: "请填写 URL！可以留空" %>
    </div>
  </div>
  <% if @article.new_record %>
    <div class="control-group mt20">
      <%= f.label :anonymous?, class: "control-label" %>
      <div class="controls">
        <%= f.check_box :anonymous %>
      </div>
    </div>
  <% end -%>
  <div class="controls">
    <%= f.submit @article.new_record ? "发布" : "更新", class: "btn btn-danger" %>
    &nbsp;
    <%= link_to "放弃" ,@article ,class: "btn" unless @article.new_record? or !@article.is_verified? %>
  </div>
<% end %>
