<div style="padding: 50px; width: 500px;">
  <% unless flash.empty? %>
  <div class="flash" style="position: absolute;top: -2px;width: 540px;left: 30px;">
    <% flash.each do |k,v| %>
      <div class="alert alert-<%= k %>">
        <%= v %>
      </div>
    <% end -%>
  </div>
  <% end -%>
<legend style="color: white;">待审核文章</legend>

<% if @articles.empty? %>
暂无未审核文章
<% else %>
<table class="table table-bordered">
  <tr>
    <th class="w30">目录</th>
    <th>标题</th>
    <th colspan="2">动作</th>
  </tr>
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.category.name %></td>
      <td><%= link_to article.title, article_path(article, from: "index"), class: "link", remote: true %></td>
      <td class="w30"><%= link_to '通过', verify_article_path(article), class: "link", remote: true %></td>
      <td class="w30"><%= link_to '编辑', edit_article_path(article), class: "link" %></td>
      <td class="w30"><%= link_to '删除', destroy_article_path(article), remote: true, data: { confirm: '确认删除吗？' }, class: "link" %></td>
    </tr>
  <% end %>
</table>

<% end -%>
</div>