<h1>全部文章列表</h1>

<table class="table table-bordered table-hover">
  <tr>
    <th class="w30">目录</th>
    <th>标题</th>
    <th colspan="2">动作</th>
  </tr>
<% @articles.each do |article| %>
  <tr>
    <td><%= link_to article.category.name, category_path(article.category) %></td>
    <td><%= link_to article.title, article, class: "link" %></td>
    <td class="w30"><%= link_to '编辑', edit_article_path(article), class: "link" %></td>
    <td class="w30"><%= link_to '删除', article, method: :delete, data: { confirm: 'Are you sure?' }, class: "link" %></td>
  </tr>
<% end %>
</table>

<%= paginate @articles %>
<br />

<%= link_to 'New Article', new_article_path %>
