<% if params[:raw] %>
<div style="padding: 30px 50px; width: 500px;">
  <% unless flash.empty? %>
  <div class="flash" style="position: absolute;top: -2px;width: 540px;left: 30px;">
    <% flash.each do |k,v| %>
      <div class="alert alert-<%= k %>">
        <%= v %>
      </div>
    <% end -%>
  </div>
  <% end -%>
<%= link_to "< 返回", params[:from]=="index" ? articles_path : user_publishes_path , class: "link" ,remote: true %>
<legend style="color: white;"><%= @article.title %></legend>
<% else %>
<h1>
  <%= @article.title %>
</h1>
<% end -%>

<div class="clearfix">
  <% unless @article.source.blank? %>
    <div class="pull-right">
      <%= link_to @article.source, @article.source, target: '_blank', class: 'link' %>
    </div>
  <% end -%>  
  <div class="time" style="color: #999;">
    <%= link_to @article.author.nickname, @article.author, class: "muted" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= short_time @article.created_at %>
  </div>
</div>
<div class="article-content" style="margin: 20px 0 50px;">
  <%= raw @article.content %>
</div>
<% if params[:raw] %>
</div>
<% else %>

<%= render partial: 'comments/comments', object: @article, as: :commentable %>

<% if current_user %>
<div id="actions">
  <div class="btn-group btn-group-vertical">
    <% if @article.starrers.include? current_user %>
    <%= link_to unfollow_article_path, class: 'btn disabled' do %>取消<br><i class="icon-ok icon-2x"></i><% end -%>
    <% else %>
    <%= link_to follow_article_path, class: 'btn' do %>关注<br><i class="icon-plus-sign icon-2x"></i><% end -%>
    <% end -%>
    <% if is_admin? %>
    <%= link_to edit_article_path, class: 'btn' do %>修改<br><i class="icon-edit icon-2x"></i><% end -%>
    <%= link_to destroy_article_path, class: 'btn', html: { confirm: "你确定要删除吗？"} do %>删除<br><i class="icon-trash icon-2x"></i><% end -%>
    <% end -%>
  </div>
</div>
<% end -%>
<% end -%>