<% if params[:raw] %>
<div style="padding: 30px 50px; width: 500px;">
<%= link_to "< 返回", params[:from]=="index" ? articles_path : user_publishes_path , class: "link" ,remote: true %>
<legend style="color: white;"><%= @article.title %></legend>
<% else %>
<h1>
  <%= @article.title %>
</h1>
<% end -%>

<div class="author">
  作者：<%= link_to @article.author.nickname, @article.author, class: "link" %>
</div>
<div class="clearfix">
  <% unless @article.source.blank? %>
    <div class="pull-right">
      <%= link_to @article.source, @article.source, target: '_blank', class: 'link' %>
    </div>
  <% end -%>  
  <div class="time">
    <%= short_time @article.created_at %>
  </div>
</div>
<div class="content" style="margin-top: 20px;">
  <%= raw @article.content %>
</div>
<% if params[:raw] %>
</div>
<% else %>
<hr>
<%= link_to "follow", follow_article_path, class: 'link' %>

<%= render partial: 'comments/comments', object: @article, as: :commentable %>
<% end -%>