<h1>
  <%= @article.title %>
</h1>

<div class="author">
  作者：<%= link_to @article.author.nickname, @article.author %>
</div>
<div class="clearfix">
  <% unless @article.source.blank? %>
    <div class="pull-right">
      <%= link_to @article.source, @article.source, target: '_blank', class: 'link' %>
    </div>
  <% end -%>  
  <div class="time">
    <%= short_time @article.created_at %>
  </div>
</div>
<div class="content" style="margin-top: 20px;">
  <%= raw @article.content %>
</div>
<hr>
<%= render partial: 'comments/comments', object: @article, as: :commentable %>
<br>
<br>
<br>
<br>
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
