<div style="padding: 50px;">
<legend style="color: white;">编辑个人资料</legend>
<%= form_for(@user, url: user_update_path, html: { class: "form-horizontal" }, remote: true) do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-error">
      <div>发生了<%= @user.errors.count %>个错误。</div>
      <% @user.errors.full_messages.each do |msg| %>
        <div><%= msg %></div>
      <% end %>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :nickname, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :nickname %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :avatar, class: "control-label" %>
    <div class="controls">
      <%= f.file_field :avatar %>
    </div>
  </div>
  <div class="control-group">
    <div class="control-label">修改密码</div>
    <div class="controls">
      <a href="###" class="link" style="vertical-align: -5px;" _target="blank">跳转到 CAS 服务器</a>
    </div>
  </div>
  <div class="controls">
    <%= f.submit "更新资料", class: "btn btn-danger" %>
  </div>
<% end %>
</div>

<script>
  $('#edit_user_test').submit(function(){
    hide_right_panel();
    setTimeout(function(){
      Turbolinks.visit(window.location)
    },100)
  })
</script>
