<div style="margin-top: 130px; height: 108px; background-color: rgba(0,0,0,0.5); postion: relative;">
  <div class="avatar">
    <%= image_tag @user.avatar, class: "avatar-inner" %>
  </div>
  <div style="position: absolute; color: white; left: 515px; top: 155px; text-align: center;">
    <div style="font-size: 26px; line-height: 1.5; font-weight: bold;"><%= @user.nickname %></div>
    <div style="font-size: 16px;"><%= @user.is_who %></div>
  </div>
</div>
<div id="timeline" data-toggle="tabs">
  <% if @user.articles.count > 0 %>
    <div class="tabs-nav">
      <a href="#feeds" class="tabs-item active">TA的动态</a>
      <a href="#articles" class="tabs-item">TA的发布</a>
    </div>
    <div class="tabs-content">
  <div id="feeds" style="padding: 0 40px 30px;">  
  <% else %>
  <div id="feeds" style="padding: 30px 40px;">  
  <% end -%>
    <table>
      <% @user.feeds.each do |feed| %>
        <tr class="timeline-item">
          <td class="time">
            <%= beautify_time_with_br(feed.created_at) %>
          </td>
          <td class="content">
            <%= raw feed.content %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  <% if @user.articles.count > 0 %>
    <div id="articles" style="display: none; padding: 0 40px 30px;">
      <table>
        <% @user.articles.where(anonymous: false).each do |article| %>
          <tr class="timeline-item">
          <td class="time">
            <%= beautify_time_with_br(article.created_at) %>
          </td>
          <td class="content">
            发布于
            <a href="<%= category_path(article.category) %>" class="link"><%= article.category.name %></a>
            <a href="<%= article_path(article) %>" class="timeline-link" style="text-indent: 0;"><%= article.title %></a>
            <div style="color: #999;"><%= article.digest(120).gsub(/\s|　/, "") %></div>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
    </div>
  <% end -%>
</div>

<% content_for :script do %>
  <script>
    $('.logo-inner').click(function(){
      history.go(-1);
      return false;
    })
  </script>
<% end -%>