<div class="clearfix" style="margin-left: -15px; position: relative;">
<div class="verl"></div>
<% @articles.recent.each do |article| %>
  <div class="category-block" style="position: relative">
    <h3 style="line-height: 1.3; margin-top: 0;"><%= link_to article.title, article %></h3>
    <p class="muted">
      <% if article.anonymous %>
        作者：匿名用户
      <% else %>
        作者：<%= link_to article.author.nickname, article.author, class: "muted" %>
      <% end -%>
      &nbsp;&nbsp;&nbsp;&nbsp;<em><%= short_time(article.created_at) %> </em>
    </p>
    <p>
      <%= article.digest(110-1.5*article.title.length) %>
    </p>
    <div style="position: absolute; bottom: 20px; right: 20px;">
      <a href="<%= article_path(article, anchor: 'comments') %>" class="comments">
        <i class="icon-comment"></i>(<%= article.comments.count %>)
      </a>
    </div>
  </div>
<% end -%>
</div>
<%= paginate @articles %>