
<%= form_for(@vote, html: { class: "form-horizontal" }) do |f| %>
  <% if @vote.errors.any? %>
    <div class="alert alert-error">
      <div>发生了 <%= @vote.errors.count %> 个错误。</div>
      <% @vote.errors.full_messages.each do |msg| %>
        <div><%= msg %></div>
      <% end %>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :title, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :title, style: "width: 480px;" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "选项", class: "control-label" %>
    <div class="controls mb10">
      <%= f.fields_for :options do |option| %>
        <%= render 'option_fields', f: option %>
      <% end %>
      <fieldset>
        <input type="text" disabled>
        <%= link_to_add_fields f, :options %>
      </fieldset>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :max_vote, class: "control-label" %>
    <div class="controls">
      <%= f.text_field :max_vote, style: "width: 480px;" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :allow_anonymous, class: "control-label" %>
    <div class="controls">
      <%= f.check_box :allow_anonymous %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :is_disabled, class: "control-label" %>
    <div class="controls">
      <%= f.check_box :is_disabled %>
    </div>
    <div class="control-group">
      <%= f.label :is_public, class: "control-label" %>
      <div class="controls">
        <%= f.check_box :is_public %>
      </div>
    </div>
  </div>

  <div class="controls">
    <%= f.submit @vote.new_record ? "新增" : "更新", class: "btn btn-danger" %>
    &nbsp;
    <%= link_to "放弃" ,@vote, class: "btn" unless @vote.new_record? %>
  </div>
<% end %>