
<%= form_for(@vote) do |f| %>
  <% if @vote.errors.any? %>
    <div class="alert alert-error">
      <div>发生了<%= @user.errors.count %>个错误。</div>
      <% @user.errors.full_messages.each do |msg| %>
        <div><%= msg %></div>
      <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <legend>options</legend>
  <%= f.fields_for :options do |option| %>
    <%= render 'option_fields', f: option %>
  <% end %>
  <%= link_to_add_fields "Add Answer", f, :options %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>