<div class="clearfix" style="margin-left: -15px; position: relative;">
<div class="verl" style="left: 380px;"></div>
<div style="width: 220px; float: right;">
  <% @votes.hottest[0..8].each do |vote| %>
    <% data = vote.options.map{|a|a.count}.each_with_index.max %>
    <% break if data[0] == 0 %>
    <% next if vote.voters.count == 0 %>
    <div class="mb10">
      <span style="font: 28px 'Times New Roman'; font-style: italic; " class="text-error"><%= data[0] * 100 / vote.voters.count %>%</span>
      的人在 <%= link_to vote.title, vote %> 中选择了 <%= vote.options[data[1]].content %>
    </div>
  <% end -%>
</div>

<% @votes.recent.each do |vote| %>
  <div class="vote-block clearfix">
  <h3 class="m0"><%= link_to vote.title, vote %></h3>
  <% if !current_user or (current_user and vote.voters.include? current_user) %>
  <table>
    <% vote.options.each do |opt| %>
    <tr>
      <td style="padding: 5px; width: 130px;"><%= opt.content %></td>
      <td style="padding: 5px; width: 180px;">  
        <div class="progress progress-warning" style="margin: 0px;">
          <div class="bar" style="width: <%= (opt.count * 100.0 / vote.voters.count).to_s + "%" %>">
          </div>
        </div>
      </td>
    </tr>
    <% end -%>
  </table>
  <%= link_to "查看详情", vote, class: "btn btn-success pull-right", style: "margin-top: 10px;" %>
  <% elsif vote.max_vote > 1 %>
    <%= form_tag vote_options_path(vote), method: :post, class: "multiple-vote", max: vote.max_vote do %>
      <div>
        <% vote.options.each do |opt| %>
          <div class="mt10">
            <%= check_box_tag "options[]", opt.id, false, id: "options_#{opt.id}"  %>
            <%= label_tag "options_#{opt.id}", opt.content, class: "vote" %>
          </div>
        <% end -%>
      </div>
      <div class="pull-right mt10">
        <%= submit_tag "投票", class: "btn btn-danger" %>
        <%= link_to "查看结果", vote, class: "btn btn-success" %>
      </div>
    <% end %>
  <% else %>
    <%= form_tag vote_options_path(vote), method: :post do %>
      <div>
        <% vote.options.each do |opt| %>
          <div class="mt10">
            <%= radio_button_tag "options[]", opt.id, false, id: "options_#{opt.id}" %>
            <%= label_tag "options_#{opt.id}", opt.content, class: "vote" %>
          </div>
        <% end -%>
      </div>
      <div class="pull-right mt10">
        <%= submit_tag "投票", class: "btn btn-danger" %>
        <%= link_to "查看结果", vote, class: "btn btn-success" %>
      </div>
    <% end %>
  <% end -%>
  </div>
<% end -%>

<% if is_admin? %>
<div id="actions">
  <div class="btn-group btn-group-vertical">
    <%= link_to new_vote_path, class: 'btn' do %>新增<br><i class="icon-list-ul icon-2x"></i><% end -%>
  </div>
</div>
<% end -%>
</div>
