<h1><%= @vote.title %></h1>
<div style="margin-bottom: 50px;">  
<% unless @vote.content.blank? %>
<div class="well">
  <%= @vote.content %>
</div>
<% end -%>
<% if !current_user or @vote.voters.include? current_user %>
  <% @vote.options.each do |opt| %>
    <table class="vote-table">
      <tr>
        <td style="width: 130px;">
          <%= opt.content %>
        </td>
        <td style="width: 380px;">
          <div class="progress progress-warning" style="margin: 0px;">
            <div class="bar" style="width: <%= (opt.count * 100.0 / @vote.voters.count).to_s + "%" %>">
            </div>
          </div>
        </td>
        <td style="width: 40px;">
          <%= opt.count %>
        </td>
      </tr>
    </table>
  <% end -%>
<% elsif @vote.max_vote > 1 %>
  <%= form_tag vote_options_path(@vote), method: :post, class: "multiple-vote", max: @vote.max_vote do %>
    <table class="vote-table">
      <% @vote.options.each do |opt| %>
      <tr>
        <td style="width: 20px; padding-right: 0px;">
          <%= check_box_tag "options[]", opt.id, false, id: "options_#{opt.id}"  %>
        </td>
        <td style="width: 130px; padding-left: 0px;">
          <%= label_tag "options_#{opt.id}", opt.content %>
        </td>
        <td style="width: 360px;">
          <div class="progress progress-warning" style="margin: 0px;">
            <div class="bar" style="width: <%= (opt.count * 100.0 / @vote.voters.count).to_s + "%" %>">
            </div>
          </div>
        </td>
        <td style="width: 40px;">
          <%= opt.count %>
        </td>
      </tr>
      <% end -%>
    </table>
    <div style="margin: 5px 0 0 20px;">
      <%= submit_tag "投票", class: "btn btn-danger" %>
    </div>
  <% end %>
<% else %>
  <%= form_tag vote_options_path(@vote), method: :post do %>
    <table class="vote-table">
      <% @vote.options.each do |opt| %>
      <tr>
        <td style="width: 20px; padding-right: 0px;">
          <%= radio_button_tag "options[]", opt.id, false, id: "options_#{opt.id}" %>
        </td>
        <td style="width: 130px; padding-left: 0px;">
          <%= label_tag "options_#{opt.id}", opt.content %>
        </td>
        <td style="width: 360px;">
          <div class="progress progress-warning" style="margin: 0px;">
            <div class="bar" style="width: <%= (opt.count * 100.0 / @vote.voters.count).to_s + "%" %>">
            </div>
          </div>
        </td>
        <td style="width: 40px;">
          <%= opt.count %>
        </td>
      </tr>
      <% end -%>
    </table>
    <div style="margin: 5px 0 0 20px;">
      <%= submit_tag "投票", class: "btn btn-danger" %>
    </div>
  <% end %>
<% end -%>
</div>

<%= render partial: 'comments/comments', object: @vote, as: 'commentable' %>

<% if is_admin? %>
<div id="actions">
  <div class="btn-group btn-group-vertical">
    <%= link_to edit_vote_path, class: 'btn' do %>修改<br><i class="icon-edit icon-2x"></i><% end -%>
    <%= link_to destroy_vote_path, class: 'btn', html: { confirm: "你确定要删除吗？"} do %>删除<br><i class="icon-trash icon-2x"></i><% end -%>
  </div>
</div>
<% end -%>
