<h1><%= @vote.title %></h1>
<%= form_tag vote_options_path(@vote), method: :post do %>
  <% @vote.options.each do |opt| %>
    <%= radio_button_tag "option", opt.id %> <%= label_tag "option_" + opt.id, opt.content + " (#{opt.count})" %>
  <% end -%>
  <%= submit_tag "Submit" %>
<% end %>
<hr>
<%= render 'comments/comments', collecton: @vote, as: 'article' %>
<br>
<br>
<br>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
