<%= form_for(@feature) do |f| %>
  <% if @feature.errors.any? %>
    <div class="alert alert-error">
      <div>发生了<%= @feature.errors.count %>个错误。</div>
      <% @feature.errors.full_messages.each do |msg| %>
        <div><%= msg %></div>
      <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </div>
  <div class="control-group">
    <%= f.label :poster, class: "control-label" %>
    <div class="controls">
      <%= f.file_field :poster %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
