<% if user_signed_in? %>
  <div id="user-bar">
    <div style="vertical-align: middle; display: table-cell;">
      <div class="avatar-wrap">
        <a href="###" class="avatar" data-toggle="dropdown">
          <%= image_tag current_user.avatar, class: "avatar-inner" %>
          <% unless current_user.notifications.empty? %>
            <div class="noti-num">
              <div class="noti-num-inner">
                <%= current_user.notifications.count %>
              </div>
            </div>
          <% end -%>
        </a>
        <div class="noti-box dropdown">
          <% if current_user.notifications.empty? %>
            <div style="text-align: center; color: #999; line-height: 40px;">暂无提醒</div>
          <% else %>
            <% current_user.notifications.each do |noti| %>
              <a href="<%= noti_path(noti) %>" class="noti-item">
                <div class="unread">●</div>
                <%= noti.content %>
              </a>
            <% end %>
          <% end -%>
        </div>
      </div>
      <div class="center mt10">
        <span class="white bold" style="font-size: 18px;"><%= current_user.nickname %></span>
      </div>
      <div class="center gray"><%= current_user.is_who %></div>
      <a id="right-bar-link-1" href="/" class="center gray mt30"><i class="icon-home icon-2x p0"></i><br>主页</a>
      <% if current_user.is_reporter? %>
      <a id="right-bar-link-2" href="<%= current_user.articles.unscoped.empty? ? new_article_path : user_publishes_path %>" class="center gray mt30"><i class="icon-pencil icon-2x p0"></i><br>发布</a>
      <% else %>
      <a id="right-bar-link-2" href="<%= new_article_path %>" class="center gray mt30"><i class="icon-edit icon-2x p0"></i><br>投稿</a>
      <% end -%>
      <% if is_admin? %>
      <a id="right-bar-link-3" href="<%= articles_path %>" class="center gray mt30"><i class="icon-eye-open icon-2x p0"></i><br>审核</a>
      <% end -%>
      <a id="right-bar-link-4" href="<%= user_edit_path %>" class="center gray mt30"><i class="icon-cog icon-2x p0"></i><br>资料</a>
      <a href="http://peer.pkuschool.edu.cn" target="_blank" class="center gray mt30"><i class="icon-group icon-2x p0"></i><br>晨会</a>
      <a id="right-bar-link-5" href="<%= logout_path %>" class="center gray mt30" data-no-turbolink><i class="icon-signout icon-2x p0"></i><br>注销</a>
    </div>
    <div id="right-panel">
    </div>
  </div>
<% else %>
  <!--
  <= link_to CASClient::Frameworks::Rails::Filter.login_url(controller), class: "login_link" do %>
    <i class="icon-signin"></i>
  < end -%>
  -->
  <a class="login_link" href="/auth/bdfzer">
    <i class="icon-signin"></i>
  </a>
  
<% end -%>
