<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="utf-8">
  <title>银杏时报 - <%= t(params[:controller]) %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= yield :style %>
</head>
<body>
  <div class="body-bg"></div>
  <div class="container">
    <div class="logo"></div>
    <div id="left-nav">
      <%= link_to "专题", features_path, class: "nav-link#{" active" if params[:controller]=="features"}" %>
      <% Category.all.each do |category| %>
        <%= link_to category.name, category_path(category), class: "nav-link#{" active" if (params[:controller]=="categories" and params[:id]==category.id) or (@article and @article.category==category)}" %>
      <% end -%>
      <%= link_to "投票", votes_path, class: "nav-link#{" active" if params[:controller]=="votes"}" %>
    </div>
    <div id="main">
      <% flash.each do |k,v| %>
        <div class="alert alert-<%= k %>">
          <%= v %>
        </div>
      <% end -%>
      <%= yield %>
    </div>
  </div>
  <%= render partial: "layouts/user" %>
  <%= debug(params) if Rails.env.development? %>
  <%= javascript_include_tag "application" %>
  <%= yield :script %>
</body>
</html>
