<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="utf-8">
  <title>银杏时报 - 首页</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= yield :style %>
</head>
<body>
  <div class="body-bg"></div>
  
  <%= yield %>

  <%= render partial: "layouts/user" %>
  <%= debug(params) if Rails.env.development? %>
  <%= javascript_include_tag "application" %>
  <%= yield :script %>
</body>
</html>
